@use 'base/animations';
@use 'base/base';
@use 'base/typography';
@use 'base/utilities';

@use 'components/bg-video';
@use 'components/button';
@use 'components/card';
@use 'components/composition';
@use 'components/feature-box';
@use 'components/form';
@use 'components/story';

@use 'layout/footer';
@use 'layout/grid';
@use 'layout/header';
@use 'layout/navigation';
@use 'layout/popup';

@use 'pages/home';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
