@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;

  @include mix.responsive(tab-potrait) {
    padding: 6rem 0;
    text-align: center;
  }

  &__logo-box {
    margin-bottom: 8rem;
    text-align: center;

    @include mix.responsive(tab-potrait) {
      margin-bottom: 5rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    display: inline-block;
    border-top: 1px solid var.$color-grey-dark;
    padding-top: 2rem;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    display: inline-block;
    color: var.$color-grey-light;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s;

    &:hover,
    &:active {
      color: var.$color-primary;
      box-shadow: 0 1rem 2rem rgba(var.$color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    // display: inline-block;
    border-top: 1px solid var.$color-grey-dark;
    padding-top: 2rem;
    width: 85%;
    float: right;

    @include mix.responsive(tab-potrait) {
      width: 100%;
      float: none;
    }
  }
}
