@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: var.$color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 12;
    box-shadow: 0 1rem 3rem rgba(var.$color-black, 0.2);
    text-align: center;
    cursor: pointer;

    @include mix.responsive(tab-potrait) {
      top: 4rem;
      right: 4rem;
    }

    @include mix.responsive(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      var.$color-primary,
      var.$color-primary-dark
    );
    z-index: 10;

    transition: 0.7s cubic-bezier(0.86, 0, 0.07, 1);

    @include mix.responsive(tab-potrait) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include mix.responsive(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    opacity: 0;

    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    @include mix.centerPositionAbsolute();
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: var.$color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      var.$color-white 50%
    );
    background-size: 220%;

    transition: 0.4s;

    span {
      display: inline-block;
      margin-right: 1rem;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: var.$color-primary-dark;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(50);
  }
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  //! ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: var.$color-grey-dark;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;

      transition: 0.3s;
    }

    &::before {
      top: -0.8rem;
      //   transform-origin: right;
    }
    &::after {
      top: 0.8rem;
      //   transform-origin: right;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(-135deg);
    top: 0;
    // ? kalo pake transform origin
    // top: -1rem;
    // left: -0.45rem;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(135deg);
    top: 0;
    // ? kalo pake transform origin
    // top: 1rem;
    // left: -0.45rem;
  }
}
