@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var.$color-black, 0.4);
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  backdrop-filter: blur(10px);

  // ! CEK BROWSER SUPPORT
  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    background-color: rgba(var.$color-black, 0.4);
    backdrop-filter: blur(10px);
  }

  &__content {
    @include mix.centerPositionAbsolute();
    width: 75%;
    background-color: var.$color-white;
    border-radius: 3px;
    overflow: hidden;
    display: table;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s 0.2s;

    @include mix.responsive(tab-potrait) {
      text-align: center;
      padding-bottom: 1.5rem;
    }
  }

  &__left {
    width: 33.3333%;
    display: table-cell;

    @include mix.responsive(tab-potrait) {
      display: table-row;
      height: 33.3333%;

      & > .popup__image:nth-child(2) {
        height: 33%;
      }
    }
  }

  &__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include mix.responsive(tab-potrait) {
      display: table-row;
      height: 66.6667%;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include mix.responsive(tab-potrait) {
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid var.$color-grey-light-2;

    hyphens: auto;

    @include mix.responsive(tab-potrait) {
      text-align: left;
      padding: 0 1.5rem;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    color: var.$color-grey-dark;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    line-height: 1;

    &:hover {
      color: var.$color-primary;
    }
  }
}
