@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 3px;
    background-color: rgba(var.$color-white, 0.5);
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    transition: 0.2s;

    @include mix.responsive(tab-potrait) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(var.$color-black, 0.1);
      border-bottom: 3px solid var.$color-primary;

      &:invalid {
        border-bottom: 3px solid var.$color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: var.$color-grey-dark;
    }
  }

  &__label {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include mix.responsive(tab-potrait) {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: var.$default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 5px solid var.$color-primary;
    border-radius: 50%;
    position: absolute;
    top: -0.8rem;
    left: 0;

    &::after {
      content: "";
      display: block;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 50%;
      @include mix.centerPositionAbsolute;
      background-color: var.$color-primary;
      opacity: 0;
      transition: 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
