@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include mix.responsive(tab-landscape) {
    font-size: 56.25%;
  }

  @include mix.responsive(tab-potrait) {
    font-size: 50%;
  }

  // @include mix.responsive(phone) {
  //   font-size: 37.5%;
  // }

  @include mix.responsive(big-desktop) {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.7;
  color: var.$color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;

  @include mix.responsive(tab-potrait) {
    padding: 0;
  }
}

::selection {
  background-color: var.$color-primary;
  color: var.$color-white;
}
