@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.heading-primary {
  color: var.$color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;

    @include mix.responsive(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.8rem;

    animation: moveInRight 0.6s ease-out;
  }

  @include mix.responsive(phone) {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var.$color-primary-light,
    var.$color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: 0.2s ease-in-out;

  @include mix.responsive(tab-potrait) {
    font-size: 3rem;
  }

  @include mix.responsive(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(var.$color-primary-dark, 0.2);
  }
}

.heading-tertiary {
  font-size: var.$default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: var.$default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
