@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.section-about {
  background-color: var.$color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;

  @include mix.responsive(tab-potrait) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(var.$color-primary-light, 0.7),
      rgba(var.$color-primary-dark, 0.7)
    ),
    url(../img/nat-4-small.jpg);
  background-size: cover;
  background-position: center;

  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include mix.responsive(images) {
    background-image: linear-gradient(
        to right bottom,
        rgba(var.$color-primary-light, 0.7),
        rgba(var.$color-primary-dark, 0.7)
      ),
      url(../img/nat-4.jpg);
  }

  @include mix.responsive(tab-potrait) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: var.$color-grey-light;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include mix.responsive(tab-potrait) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include mix.responsive(tab-potrait) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(var.$color-primary-light, 0.7),
    rgba(var.$color-primary-dark, 0.7)
  );

  @include mix.responsive(tab-potrait) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(var.$color-white, 0.85) 0%,
      rgba(var.$color-white, 0.85) 50%,
      transparent 50%
    ),
    url(../img/nat-10-small.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(var.$color-black, 0.3);

  @include mix.responsive(images) {
    background-image: linear-gradient(
        105deg,
        rgba(var.$color-white, 0.85) 0%,
        rgba(var.$color-white, 0.85) 50%,
        transparent 50%
      ),
      url(../img/nat-10.jpg);
  }

  @include mix.responsive(tab-landscape) {
    background-image: linear-gradient(
        105deg,
        rgba(var.$color-white, 0.85) 0%,
        rgba(var.$color-white, 0.85) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
  }

  @include mix.responsive(tab-potrait) {
    background-image: linear-gradient(
        to right,
        rgba(var.$color-white, 0.85) 0%,
        rgba(var.$color-white, 0.85) 100%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include mix.responsive(tab-landscape) {
      width: 65%;
    }
    @include mix.responsive(tab-potrait) {
      width: 100%;
    }
  }
}
